*{
    margin: 0%;
}
.tam{
   display: block;
 
}

body{
    background-color: #101728;
color: #FFFFFF;
}





@media screen and (min-width: 1024px){
.tam{
    display: block;
}
    
}
