*{
    margin: 5%;
}
.tam{
   display: flex;
 
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

body{
    background-color: #101728;
color: #FFFFFF;
}





@media screen and (min-width: 1024px){
.tam{
    display: block;
}
    
}
